{% extends "base.html" %}

{% block title %}About | BK CB2 HESS{% endblock %}

{% block content %}
<h1 class="header">Get to know your community!</h1>
<div class="results-container" style="max-width: 700px; margin: 0 auto;">
    <div style="background: #fffbe6; border-radius: 10px; padding: 2em 2em; box-shadow: 0 2px 8px rgba(35, 78, 112, 0.06); margin-top: 2em;">
        <p style="color: #888; font-size: 1.1em;">Community boards are an important part of NYC's government, giving residents a voice in what goes on in their neighborhoods. I've been going to my community board's--Brooklyn Community Board 2--meetings for a while now, but I've often felt like I lacked context from previous meetings. What locations attract the most attention? What local businesses near me trying to do? What have been my community's major concerns?</p>

        <p style="color: #888; font-size: 1.1em;">So I made this site to catalog the agendas of one of my favorite committees, the BK CB2 Health, Environment & Social Services (HESS) committee, in order to go into these meetings prepared to understand and ask critical questions, and be a more engaged citizen in my local government!</p>
        <br>
        <p style="color: #888; font-size: 1.1em;" align="right">-Tim</p>
    </div>
</div>
{% endblock %} 